#mainHeading2{
    font: bold 300% Consolas, Monaco, monospace;
    border-right: .1em solid black;
	width: 16.5em; 
	width: 30ch;
	margin: 5% auto;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end), blink-caret .5s step-end infinite alternate;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }