#Titleheading{
}
.Mid-Aligner{

}
#mainHeading{
    font: bold 300% Consolas, Monaco, monospace;
    margin: 2% 5%;
}
#mainHeading2{
    font: bold 200% Consolas, Monaco, monospace;
    /* border-right: .1em solid black; */
	width: 16.5em; 
	width: 30ch;
	margin: 1% auto;
    margin-right:60%;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end), blink-caret .5s step-end infinite alternate;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
/* image css*/
.pull-center{
    width: 4%;
    height: 4%;
    /* margin:auto; */
    /* display: flex; */

}
/*clock*/
#clock{
    font-family: "Work Sans", sans-serif;
    display: block;
    margin: 1%;
    margin-top: 0;

 
}
.time { 
    /* margin:100px auto; */
      background: rgb(12, 12, 12);
      color: #fff;
      border: 5px solid rgb(255, 252, 252);
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      padding: 8px;
      text-align: center;
      
  }
  .hms {
      font-size: 3vw;
      font-weight: 200;
  }
  .ampm {
      font-size: 1.5vw;
  }
  .date {
      font-size: 1vw;
  }
