body{
    background-color: #F4F4F2;
}
#Titleheading{
}
/*Navbar*/
/* Add a black background color to the top navigation */
.forcenter{

}
.tnav{
    width: 25%;
}
.topnav {
    /* background-color: #BBBFCA; */
    overflow: hidden;
    padding: 1%;
    margin: auto;
    margin-bottom: 2%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
/* */
#mainHeading{
    font: bold 300% Consolas, Monaco, monospace;
    margin: 2% 5%;
}
#mainHeading2{
    font: bold 200% Consolas, Monaco, monospace;
    /* border-right: .1em solid black; */
	width: 16.5em; 
	width: 30ch;
	margin: 1% auto;
    margin-right:60%;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end), blink-caret .5s step-end infinite alternate;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }
/* image css*/
.pull-center{
    width: 60%;
  height: auto;
    /* margin:auto; */
    /* display: flex; */

}
/*clock*/
#clock{
    font-family: "Work Sans", sans-serif;
    display: block;
    margin: 1%;
    margin-top: 0;

 
}
.forclock{
    float:right;
}
.time { 
    /* margin:100px auto; */
      background: #BBBFCA;
      color: #fff;
      border: 5px solid rgb(255, 252, 252);
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      padding: 8px;
      text-align: center;
      width: auto;
      margin:auto 2%;
  }
  .hms {
      font-size: 3vw;
      font-weight: 200;
  }
  .ampm {
      font-size: 1.7vw;
      display: inline;
      margin: 1%;
      margin-bottom:0;
      margin-left: 2%;
  }
  .date {
      font-size: 1vw;
  }

@media only screen and (max-device-width: 480px){
    /*clock*/
#clock{
    font-family: "Work Sans", sans-serif;
    display: block;
    margin: 1%;
    margin-top: 0;

 
}
.forclock{
    float:center;
}
.time { 
    /* margin:100px auto; */
      background: #BBBFCA;
      color: #fff;
      border: 5px solid rgb(255, 252, 252);
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
      padding: 8px;
      text-align: center;
      width: auto;
      margin:auto 2%;
  }
  .hms {
      font-size: 3vw;
      font-weight: 200;
  }
  .ampm {
      font-size: 1.7vw;
      display: inline;
      margin: 1%;
      margin-bottom:0;
      margin-left: 2%;
  }
  .date {
      font-size: 1vw;
  }
  }